@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap");



* {
  box-sizing: border-box;
  font-family: "Spline Sans", sans-serif;
}

body {
  margin: 0px;
  padding: 0px 80px;
    font-family: "Spline Sans", sans-serif;
}

.navbar {
  padding: 19px 0px;
  width: 100%;
    font-family: "Spline Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarleft {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: left;
}

.navbarleft img {
  cursor: pointer;
  height: 60px;
}

.navbarmiddle {
  display: flex;
  width: 60%;
    font-family: "Spline Sans", sans-serif;
  justify-content: center;
  align-items: center;
}

.navbarmiddle a {
    font-family: "Spline Sans", sans-serif;
  cursor: pointer;
  font-weight: 600;
  color: #051e36;
  margin: 0px 17px;
  font-size: 17px;
  text-decoration: none;
}

.navbarmiddle a::after {
  content: "";
  position: relative;
  bottom: 0;
  top: 2px;
  display: block;
  background: #051e36;
  width: 0%;
  transition: 0.4s;
  height: 4px;
  border-radius: 2px;
}

.navbarmiddle a:hover::after {
  width: 100%;
}

.navbarright {
    font-family: "Spline Sans", sans-serif;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.navbarright a {
  display: flex;
  align-items: center;
  margin: 0px 9px;
}

.navbarrightacts {
  width: 20%;
  display: none;
}

.navbarright a img {
  height: 25px;
}

#menuOpen {
  display: none;
  height: 35px;
}

#menucloseimg {
  height: 34px;
  position: fixed;
  right: 10px;
  display: none;
  top: 7px;
}

.intro {
  margin-top: 77px;
  padding: 0px 20px;
  padding-bottom: 190px;
    font-family: "Spline Sans", sans-serif;
}

.introtxt {
    font-family: "Spline Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.introtxt h1 {
  color: #051e36;
  font-size: 58px;
  margin-bottom: 0px;
    font-family: "Spline Sans", sans-serif;
}

.introtxt p {
  margin-top: 4px;
    font-family: "Spline Sans", sans-serif;
}

.introbtn {
  display: flex;
  margin-top: 17px;
  justify-content: center;
    font-family: "Spline Sans", sans-serif;
}

.introbtn a {
    font-family: "Spline Sans", sans-serif;
  margin: 0px 18px;
}

.introbtn a button {
  border: none;
    font-family: "Spline Sans", sans-serif;
  font-size: 18px;
  cursor: pointer;
  padding: 9px 12px;
  width: 160px;
  font-weight: 500;
}

.introbtn a:nth-child(1) button {
  background: #02111f;
  color: white;
  border: 4px solid #051e36;
    font-family: "Spline Sans", sans-serif;
  border-radius: 2px;
}

.introbtn a:nth-child(2) button {
  background: #dedede;
  color: rgb(0, 0, 0);
  border: 4px solid #051e3600;
    font-family: "Spline Sans", sans-serif;
  border-radius: 2px;
}

#insta-btn::before {
  content: "";
  width: 0%;
  display: block;
  position: relative;
  top: -21px;
  left: -16px;
  height: 4px;
  border-radius: 3px;
  background: #031627;
  transition: 0.4s;
}

#insta-btn::after {
  content: "";
  width: 0%;
  display: block;
  position: relative;
  bottom: -21px;
  right: -117px;
  height: 4px;
  border-radius: 3px;
  background: #031627;
  transition: 0.4s;
}

#github-btn::before {
  transition: 0.4s;
  content: "";
  width: 0%;
  display: block;
  position: relative;
  top: -21px;
  left: -16px;
  height: 4px;
  border-radius: 3px;
  background: #2a2a2a;
}

#github-btn::after {
  content: "";
  width: 0%;
  display: block;
  position: relative;
  bottom: -21px;
  right: -117px;
  height: 4px;
  border-radius: 3px;
  background: #2a2a2a;
  transition: 0.4s;
}

#insta-btn:hover::before {
  width: 20%;
}

#insta-btn:hover::after {
  width: 20%;
}

#github-btn:hover::before {
  width: 20%;
}

#github-btn:hover::after {
  width: 20%;
}

@media (max-width: 1000px) {
  .navbarright {
    display: none;
  }
  
  .mobilenavright{
    display: flex;
    position: fixed;
    padding-top: 20px;
    justify-content: space-between;
    top: 190px;
    right: 0;
    width: fit-content;
    z-index: 1;
  }

  .mobilenavright a{
    margin: 0px 46.8px;
  }

  #menuOpen {
    display: block;
    height: 40px;
  }
  .navbarleft {
    justify-content: left;
  }
  .navbarrightacts {
    display: flex;
    justify-content: right;
  }
  .navbarmiddle {
    display: none;
  }

  #menucloseimg {
    display: block;
  }

  .mobilenav {
    display: flex;
    position: fixed;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    height: 500%;
    background: white;
    padding-right: 140px;
    padding-left: 20px;
    box-shadow: 0px 0px 0px 1000px rgba(0, 0, 0, 0.896);
    padding-top: 100px;
  }
  .mobilenav a {
    margin: 9px 0px;
  }
}

@media (max-width: 700px) {
  body {
    padding: 0px 40px;
  }
}

@media (max-width: 440px) {
  .introbtn {
    flex-direction: column;
  }
  .introbtn a button {
    width: 100%;
    margin: 10px 0px;
  }
}

@media (max-width: 380px) {
  body {
    padding: 0px 20px;
  }
}
